FLASK_APP=run.py
SECRET_KEY='una-clave-secreta-muy-dificil-de-adivinar'
QR_SECRET_KEY=cambia_esto_por_una_frase_super_larga_y_secreta_con_numeros_99
# SQLALCHEMY_DATABASE_URI='sqlite:///school_exit_control.db'  <-- Línea antigua comentada
SQLALCHEMY_DATABASE_URI='mysql+pymysql://school_guard_db_user:tu-contraseña-segura-aqui@localhost/school_guard_db'
ACCESS_TOKEN_EXPIRE_MINUTES=120